*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Avenir-Light", sans-serif;
}

nav
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.scrolling_active
{
    background-color: white;
    box-shadow: 0 3px 1rem rgba( 0, 0, 0, .1 );
}

.navbar 
{
    /*background: white;*/
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /*first number is distance from top and bottom, second number is left and right. Can also specify every value with 0 0 0 0*/
    padding: 0 50px;
}
  
#navbar_logo
{
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
}

.fa-gem
{
    margin-right: 0.5rem;
}

.navbar_menu
{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item
{
    height: 80px;
}

.navbar_links
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 3rem;
    height: 100%;
}

.navbar_btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px ;
    background-color: rgb(110, 108, 107);
    color: #fff;
}

.button:hover
{
    background:rgb(196, 194, 194);
    transform: all 0.5s ease;
}

.navbar_links:hover
{
    color:rgb(151, 148, 146);
    transition: all 0.35s ease;
}

@media screen and (max-width: 960px) 
{
    .navbar_container 
    {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }

    .navbar_menu
    {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar_menu.active
    {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo
    {
        padding-left: 25px;
    }

    .navbar_toggle .bar
    { /*NEED SPACE, OR ELSE DOESNT WORK!!!*/
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }

    .navbar_item
    {
        width: 100%;
    }

    .navbar_links
    {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn
    {
        padding-bottom: 2rem;
    }

    .button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu
    {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate( 5%, 20% );
    }

    .navbar_toggle .bar
    {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active.bar:nth-child(2)
    {
        opacity: 0;
    }

    #mobile-menu.is-active.bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active.bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.back_image
{
    width: 100%;
    height: auto;
    z-index: -10000;
    position: absolute;
}

.bottom
{
    width: 100%;
    height: auto;
    z-index: -10000;
    position: absolute;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.top
{
    width: 100%;
    height: auto;
    z-index: -10000;
    position: absolute;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

@keyframes cf3FadeInOut 
{
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}
  
#cf3 img.top 
{
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 30s;
animation-direction: alternate;
}

.header 
{
    position: relative;  
    height: 130px;
    /*check how to make it so that when the screen is minimized, the ryan jing is centered, and not to the left side*/
}

.header p 
{
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'Caudex', serif;
    font-weight: 100;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.header2
{
    position: relative;  
    height: 120px;
}

.header2 p
{ 
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.header3
{
    position: relative;  
    height: 40px;
}

.header3 p
{ 
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
    position: absolute;
    top: 200%;
    left: 15%;
    transform: translate(-10%, -30%);
    margin: 0;
}

.header4
{
    position: relative;  
    height: 10px;
}

.header4 p
{ 
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Caudex', serif;
    font-weight: 200;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -10%);
    margin: 0
}

.Descript_header
{
    position: relative;  
    height: 120px;
}

.Descript_header p
{ 
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-family: "Avenir-Light", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 0;
    position: absolute;
    top: 200%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0
}

.Descript_content
{
    position: relative;  
    height: 65px;
}

.Descript_content p
{ 
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: left;
    font-family: "Avenir-Light", sans-serif;
    font-weight: 200;
    font-size: 1 rem;
    font-weight: 0;
    position: absolute;
    top: 200%;
    left: 40%;
    transform: translate(-5%, -50%);
    margin: 0
}

.Descript_header1
{
    position: relative;  
    height: 0px;
}

.Descript_header1 p
{ 
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-family: "Avenir-Light", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 0;
    position: absolute;
    top: 200%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0
}

.Descript_content1
{
    position: relative;  
    height: 0px;
}

.Descript_content1 p
{ 
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: left;
    font-family: "Avenir-Light", sans-serif;
    font-weight: 200;
    font-size: 1 rem;
    font-weight: 0;
    position: absolute;
    top: 200%;
    left: 40%;
    transform: translate(-5%, -50%);
    margin: 0
}

.covid_graph
{
    height: 170px;
}

.h2
{
    position: relative;
}

.line 
{
    border-bottom: 2px solid #000000;
    display: block;
}

.box 
{
    margin: 12em auto;
    overflow: hidden;
    width: 1100px;
    height: 600px;
}
  
.ratio
{
    position: relative;
}
  
.ratio::before 
{
    background: rgba(0,0,0,.5);
    color: white;
    display: block;
    left: 0;
    padding: .25em;
    position: absolute;
    top: 0;
    z-index: 10;
}
  
.ratio-1\:1 { padding-top: 100%; }

.crop 
{
    background: black;
    overflow: hidden;
    position: relative;

}

.crop > * 
{
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 32%;
    left: 50%;
}

.lego1
{
    position: absolute;
    transform: translateX(-50%) translateY(0%);
    height: 200px;
    top: 345%;
    left: 75%;
}

.lego2
{
    position: absolute;
    transform: translateX(-50%) translateY(0%);
    height: 200px;
    top: 350%;
    left: 27%;
}

.Descript_content2
{
    position: relative;  
    height: 20px;
}

.Descript_content2 p
{ 
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: left;
    font-family: "Avenir-Light", sans-serif;
    font-weight: 200;
    font-size: 1 rem;
    font-weight: 0;
    position: absolute;
    top: 200%;
    left: 20%;
    transform: translate(-15%, -50%);
    margin: 0
}

/*
.white_strip{
    top: 200%;
    left: 20%;
    transform: translate(-120%, 10%);
    position: absolute;
    display: flex;
    max-width: 300px;
  
}
*/

.onshape1
{
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    height: 1500px;
    top: 345%;
    left: 25%;    
}
    
.onshape2
{
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    height: 1550px;
    top: 340%;
    left: 70%;
}

.onshape3
{
    position: absolute;
    transform: translateX(-50%) translateY(80%);
    height: 1500px;
    top: 340%;
    left: 50%;
}
    
.onshape4
{
    position: absolute;
    transform: translateX(-50%) translateY(100%);
    height: 1800px;
    top: 345%;
    left: 27%;
}

.skate1
{
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    height: 3200px;
    top: 345%;
    left: 25%;
}

.skate2
{
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    height: 3200px;
    top: 340%;
    left: 70%;
}

.skate3
{
    position: absolute;
    transform: translateX(-50%) translateY(70%);
    height: 3000px;
    top: 340%;
    left: 50%;
}


